/* showcase */
.showcase {
  height: 400px;
  background-color: var(--primary-color);
  position: relative;
  color: #fff;
}
.showcase::after {
  content: "";
  background-color: #fff;
  height: 100px;
  position: absolute;
  bottom: -70px;
  left: 0;
  right: 0;
  transform: skewY(-3deg);
}
.showcase .grid {
  grid-template-columns: 55% auto;
  gap: 30px;
}

.showcase h1 {
  font-size: 35px;
}
.showcase p {
  margin: 20px 0;
}
.showcase-text {
  margin-top: 80px;
  animation-name: leftToRight;
  animation-duration: 1.5s;
}

.showcase .card {
  z-index: 10;
  margin: 10px;
  margin-top: 70px;
}
.showcase-form {
  padding: 40px;
  animation-name: rightToLeft;
  animation-duration: 1.5s;
}
.showcase-form h3 {
  color: var(--dark-color);
  font-size: 24px;
}
.showcase-form input {
  display: block;
  width: 100%;
  border: 0;
  border-bottom: 1px solid #ccc;
  margin-top: 30px;
  padding: 3px 0;
  font-size: 16px;
}
.showcase-form button {
  margin-top: 30px;
}

/* stats */
.stats {
  padding-top: 100px;
  padding-bottom: 50px;
  animation: bottomToTop 1.5s;
}
.stats-heading {
  width: 500px;
  margin: auto;
  text-align: center;
}
.stats-items {
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 30px;
}
.stats-item {
  text-align: center;
}
.stats-item h3 {
  font-size: 32px;
}
.stats-item p {
  font-size: 20px;
  color: var(--dark-color);
}
/* cli */
.cli-img {
  width: 60%;
}
.cli .card {
  margin-bottom: 20px;
}
/* cloud */
.cloud {
  background-color: var(--primary-color);
  color: #fff;
  padding: 20px 0;
}

.cloud .grid {
  grid-template-columns: 55% auto;
}
.cloud img {
  width: 100%;
}
.cloud-text {
  text-align: center;
}
.cloud-text h1 {
  font-size: 40px;
  margin-top: 70px;
}
.cloud-text p {
  margin-bottom: 20px;
}

/* languages */
.languages-heading {
  text-align: center;
  margin-top: 20px;
}
.languages .card {
  margin: 40px 10px;
  transition: 0.2s;
}
.languages .card:hover {
  transform: translateY(-10px);
}

@keyframes rightToLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes leftToRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes bottomToTop {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .showcase {
    height: auto;
  }
  .showcase .grid {
    grid-template-columns: 1fr;
  }
  .showcase-text {
    text-align: center;
  }
  .showcase .showcase-form {
    width: 400px;
    margin: 30px auto 0 auto;
  }

  .stats .stats-item {
    width: 100%;
  }

  .cli .flex .cli-img {
    width: 100%;
  }
  .cli .flex .cards {
    width: 100%;
  }

  .cloud .grid {
    grid-template-columns: 1fr;
  }

  .languages .flex {
    padding: 0 50px;
  }

  .footer nav {
    width: 100%;
    margin: 30px 0;
  }
}

@media (max-width: 500px) {
  .showcase .showcase-form {
    width: 300px;
  }
  .stats-heading {
    width: auto;
  }
}
